hieradata/nodes/example-puppet-master.yaml
modules/
vendor/
.bundle/
.idea/
log
.vagrant
site/role/spec/fixtures
site/profile/spec/fixtures
.kitchen/
.librarian/
.kitchen.local.yml
.tmp/
build/
*.swp
.ruby-version
*.iml
